<!-- Begin Bronto Sign up form -->
<style>
    #bronto-sign-up {
    background:#109ad6; 
    clear:left; 
    font:14px AvenirNext-Regular,Helvetica,Arial,sans-serif; 
    width:80%; 
    margin-left:auto; 
    margin-right:auto; 
    margin-top:10px;
    }
    #email-input-label {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Avenir-Next-Regular","Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
    }
    #email-input {
    font-family: "Avenir-Next-Regular","Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
    font-size: 15px;
    border: none;
    color: #109ad6;
    background-color: #fff;
    box-sizing: border-box;
    height: 32px;
    padding: 0px 0.4em;
    display: inline-block;
    margin: 0;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    vertical-align: top;
    border-radius: 3px;
    text-align: center;
    font-weight: 600;
    }
    #subscribe-input {

    font-size: 13px;
    border: none;
    letter-spacing: .03em;
    color: white;
    text-transform: uppercase;
    background-color: #109ad6;
    box-sizing: border-box;
    height: 32px;
    line-height: 32px;
    padding: 0 18px;
    display: inline-block;
    margin: 0;
    transition: all 0.23s ease-in-out 0s;
    border: 1px solid white;
    text-transform: uppercase;
    border-radius: 3px;
    }
    #subscribe-input:hover {
    background-color: white;
    border: 1px solid white;
    color: #109ad6;
    cursor: pointer;
    }

    #email-input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color:    #109ad6;
        text-align: center;
        opacity:  .5;
    }
    #email-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    #109ad6;
        opacity:  .5;
        text-align: center;
    }
    #email-input::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    #109ad6;
        opacity:  .5;
        text-align: center;
    }
    #email-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color:    #109ad6;
        opacity:  .5;
        text-align: center;
    }
    #email-input::-ms-input-placeholder { /* Microsoft Edge */
        color:    #109ad6;
        opacity:  .5;
        text-align: center;
    }
</style>
<div id="bronto-sign-up">
    <form target="_blank" action="https://bm5150.com/public/webform/process/" method="post">
        <input type="hidden" name="fid" value="byeg1b8va9gaj9ldch8u07ewangnu" />
        <input type="hidden" name="sid" value="d86006ff13a9d209b7dda774dfe6723d" />
        <input type="hidden" name="delid" value="" />
        <input type="hidden" name="subid" value="" />
        <input type="hidden" name="td" value="" />
        <input type="hidden" name="formtype" value="addcontact" />
        <script type="text/javascript">
            var fieldMaps = {};
        </script>

        <div class="section" id="row_39321">
            <div class="container" id="column_49899">
                <div class="email field_block">
                    <div class="field">
                        <span>
                            <label id="email-input-label" for="email-input">Subscribe to Stay Vital!</label>
                            <input id="email-input" placeholder="email address" type="text" class="text field fb-email" size="35" name="98753" value="" required/>
                        </span>
                        <div class="field_error">
                        </div>
                    </div>
                <input type="hidden" name="98755[1186626]" value="true" />
                </div>
            </div>
        </div>
        <div class="section" id="row_39318">
            <div class="container" id="column_49896" >
                <div class="field_block">
                    <div class="field">
                        <span>
                            <input id="subscribe-input" type="submit" value="Subscribe" />
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- End Bronto sign-up form -->