<style>
  .inf-pics {
  background:url(https://cdn.shopify.com/s/files/1/2074/9385/files/inf_pics_update.jpg?v=1605548750);
    height: 320px;
    width: 100vw;
    margin-top: 32px;
  }
  
  .inf-styles {
    flex-direction: column;
}
  .influencer-cust-1 {
    max-width: 85%;
  }
  
    @media (max-width: 600px) {
  .inf-pics {
    height: 90px;
    margin-top: 32px;
    background-size: cover !important;
}
    }
  
</style>


<div class="newStyles2020">
<div class="pdp-ja-subscribe-break-wrapper inf-styles">
    <div>
        <h4>#VitalVersity: Raise Your Collagen IQ</h4>
<!--         <p>Hint: It’s the easiest way to score free collagen!</p> -->
<!--         <a href="https://influencer.vitalproteins.com/">Join Our Community</a> -->
    </div>
  	<div class="container influencer-cust-1">
    	<div class="row influencer-cust-2">
      		<div class="col-md-4 influencer-cust-3">
        		<img src="https://cdn.shopify.com/s/files/1/0518/0335/7361/files/e3ec4575c3f88e897a96de95ab2bac71_2500x.png">
              <h5>The Truth About Biotin For Nails: <br> Does It Work?</h5>
      		</div>
          	<div class="col-md-4 influencer-cust-3">
        		<img src="https://cdn.shopify.com/s/files/1/0518/0335/7361/files/480031dc61729047c51187950a5b1897_2500x.png">
              <h5>Craving Sweets? Bake These Maple <br> Pecan Cookies</h5>
      		</div>
          	<div class="col-md-4 influencer-cust-3">
        		<img src="https://cdn.shopify.com/s/files/1/0518/0335/7361/files/2b1ec6eeb806179fa69c1da1b0977c71_2500x.png">
              <h5>The Truth About Biotin For Nails: <br> Does It Work?</h5>
      		</div>
    	</div>
  	</div>
</div>
</div>
