<div style="
    margin-top: 40px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;">
 	  {% comment %}
      <!-- /snippets/bv-ratings-reviews.liquid -->
      <!-- Bazaarvoice Ratings & Reviews -->
      {% endcomment %}
      {% render 'bv-ratings-reviews' %}
      {% comment %}
      <!-- End Bazaarvoice Ratings & Reviews -->
      {% endcomment %}
  
      {% comment %}
      <!-- /snippets/bv-questions-answers.liquid -->
      <!-- Bazaarvoice Questions & Answers -->
      {% endcomment %}
      {% render 'bv-questions-answers' %}
      {% comment %}
      <!-- End Bazaarvoice Questions & Answers -->
      {% endcomment %}
</div>