<div class="quantity-wrapper">
  <span class="quantity-text">Quantity</span>
  <div class="qty-buttons-wrapper">
    <a href="#" class="qty-button minus">
      <span>-</span>
    </a>
    <input type="number" class="qty-number" id="qty-number" name="quantity" data-qty="1" value="1" readonly/>
    <a href="#" class="qty-button plus">
      <span>+</span>
    </a>
  </div>
</div>