<div class="newStyles2020">
  {% assign button_url = "/pages/subscription" %}
  {% assign discount_message = "Subscribe & Save 25%" %}
  {% include 'pdp-ja-subscribe-break' %}

</div>

<style>
  
  .pdp-ja-subscribe-break-wrapper {
    margin-top: 0px;
}
  
.pdp-ja-subscribe-break-wrapper h4 {
    font-family: 'KapraNeue' !important;
    color: #393D40;
    text-align: center;
    font-size: 72px;
    font-weight: 400;
    text-transform: uppercase !important;
    margin-bottom: 16px;
    letter-spacing: 0px !important;
    text-transform: uppercase;
}
  
.pdp-ja-subscribe-break-wrapper p {
    font-size: 24px;
    line-height: 33px;
    color: #585A5B;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 24px;
}
  
.pdp-ja-subscribe-break-wrapper a {
    color: white;
    background-color: #215D6B;
    border-radius: 4px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    height: 40px;
    letter-spacing: .24px;
    font-size: 16px;
    line-height: 22px;
    vertical-align: middle;
    display: block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    transition: .15s opacity ease-out;
}
</style>

{% schema %}
  {
    "name": "Subscribe Break",
    "settings": [],
"presets": [
    {
      "name": "Subscribe Break",
      "category": "HP2020 Sections"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
