<div class="newStyles2020">
  
  {% include 'pdp-ja-what-is-collagen' %}
  
</div>


<style>
  .what-is-collagen-text .box-header {
    font-family: 'KapraNeue' !important;
    color: #393D40;
    text-align: center;
    font-size: 72px;
    line-height: 80px;
    font-weight: 400;
    text-transform: uppercase !important;
    margin-bottom: 16px;
    letter-spacing: 0.8px !important;
    text-transform: uppercase;
}
  
.what-is-collagen-text .box-body {
    color: #585A5B;
    font-size: 24px;
    line-height: 33px !important;
    letter-spacing: 1px;
    margin-bottom: 40px;
}
  
.what-is-collagen-text a {
    height: 40px;
    letter-spacing: .23px;
    font-size: 16px;
    line-height: 22px;
    max-width: 300px;
}
  
  
  .what-is-collagen-text {
    background: #ffffff;
}
  
  @media only screen and (max-width: 640px) {
  .what-is-collagen-text .box-header {
    font-size: 2rem;
    line-height: 1em;
}
    
      .what-is-collagen-text .box-body {
    color: #585A5B;
    font-size: 16px;
    line-height: 26px !important;
    letter-spacing: 1px;
    margin-bottom: 16px;
}
    
    .what-is-collagen-text a {
    height: 40px;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 22px;
    max-width: 350px;
}
  }
  
</style>


{% schema %}
  {
    "name": "What is Collagen",
    "settings": [],
"presets": [
    {
      "name": "What is Collagen",
      "category": "HP2020 Sections"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
