<a name="pagecontent" id="pagecontent"></a>
</div>


{% section 'lp-hero-main' %}

{% section 'lp-benefits-teaser' %}

{% section 'lp-landing-works' %}


<div class="v1-quiz-tease">
	<h2>Not Sure Where To Start? Look Here!</h2>
	<p>Take Our Quiz &amp; Meet Your (Collagen) Match</p>
	<a class="landing-subscribe-button" href="https://www.vitalproteins.com/pages/subscribe-quiz">Take The Quiz</a>
	
</div>


{% section 'lp-reviews-section' %}
{% section 'lp-why-vital' %}
{% section 'lp-product-slider' %}


<div class="lp-shop-all"><a href="https://www.vitalproteins.com/collections">Shop The Best Of Vital</a></div>

<style>
  
  #full-top-navigation {display: none;visibility:hidden;}
  
  .container .main .content {padding:0px;}
	
.review-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
  
.lp-shop-all {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background: #01af9a;
    color: #ffffff;
}
  
  .lp-shop-all a {
    font-size:24px;
    line-height:28px;
    color: #ffffff;
}
  
	.review-number {
	    font-family: 'Avenir';
	    font-size: 90px !important;
	    font-weight: 400 !important;
	    letter-spacing: -3px !important;
	    margin: 0px;
	    line-height: 1em;
	    color: #393d40;
	}
	
	.review-desc {
	    font-family: 'Avenir';
	    color: #717f86;
	    font-weight: 400;
	    font-size: 18px !important;
	    margin: 0px;
	}
  
  	.review-text {

	}
  
  
  .v1-review-section .v1-section-inner {
    background: #ffffff;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
  .v1-section-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
.review-name {
    font-weight: 700;
    font-size: 16px !important;
}

.review-stars {
    margin-top: 20px;
    margin-bottom: 20px;
}
  
.review-carousel {
    width: 100%;
    max-width: 1220px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 50px;
    margin: 0 auto;
    margin-bottom: 50px;
}
  
.review-carousel-cell {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
    align-items: flex-start;
    margin-right: 50px;
}
  
.review-carousel-cell .review-stars {
    margin-top: 10px;
    margin-bottom: 10px;
    transform: scale(.8);
    position: relative;
    left: -20px;
}
  
    .v1-review-section .callout-button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 32px;
    background: #00AF9A;
    color: #ffffff;
    min-width: 300px;
    max-width: 400px;
    height: 45px;
    text-decoration: none;
    line-height: 1em;
    border-radius: 5px;
    font-family: 'Avenir';
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 5px;
          margin-top: 50px;
}
  
  
  
    @media only screen and (max-width: 800px) {
      
      
      .v1-landing-hero h1 {
    font-size: 34px;
    line-height: 38px;
    text-align: center;
    max-width: 90%;
}
  
      .v1-landing-hero p {
    color: #ffffff;
    font-family: 'Avenir';
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: -.25px;
    max-width: 90%;
    text-align: center;
    text-shadow: 1px 1px 6px #0000003b;
}
      
  
.review-carousel-cell {
    width: 70%;
    margin-right: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
      
      .review-carousel-cell .review-stars {
    left: 0px; 
}
      
      .lp-quiz-promo {display:none;}
      
}

	</style>



<style>
  
  .container {
    max-width: 100%;
}
  .v1-desktop-navigation {
    display: none;
}
  
  .top-shout-bar {
    overflow: hidden;
    position: relative;
    display: none;
}
  
  div.content {
    padding: 30px 0px 15px 0;
    padding-top: 0px;
    padding: 0px !important;
}
  
  .footer {
    display: none;
}
  

	.v1-vital-difference-info {
	    display: flex;
	    flex-direction: column;
	    max-width: 400px;
	    justify-content: center;
	    align-items: center;
	    border-radius: 5px;
	    background: #ffffffed;
	    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.07);
	    padding: 25px 30px;
	}
	
	.v1-vital-difference-info ul {
	    list-style: none;
	    margin: 0;
	    padding: 0px;
	    font-family: 'avenir';
	    font-size: 16px;
	    line-height: 18px;
	    -webkit-font-smoothing: antialiased;
	    color: #393d40;
	    font-weight: 500;
	}
	
	.v1-why-vital-button {
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    min-height: 32px;
	    background: #00AF9A;
	    color: #ffffff;
	    min-width: 300px;
	    max-width: 300px;
	    height: 45px;
	    text-decoration: none;
	    line-height: 1em;
	    border-radius: 5px;
	    font-family: 'Avenir';
	    letter-spacing: 1px;
	    font-size: 14px;
	    font-weight: 700;
	    text-transform: uppercase;
	    text-align: center;
	    padding: 5px;
	    margin-top: 50px;
	    margin: 0 auto;
	}
	
	.v1-vital-difference-info ul li {
	    display: flex;
	    justify-content: flex-start;
	    align-items: center;
	    margin-bottom: 25px;
	}
	
	
	.v1-vital-difference-info h1 {
	    font-family: 'avenir';
	    font-size: 34px;
	    line-height: 34px;
	    -webkit-font-smoothing: antialiased;
	    color: #393d40;
	    font-weight: 500;
	    text-transform: capitalize;
	    margin-top: 10px;
	}
	
	.v1-vital-difference-info i {
	    font-size: 32px;
	    margin-right: 20px;
	}
	
	.v1-vital-difference-info h2 {
	    font-family: 'avenir';
	    font-size: 20px;
	    line-height: 24px;
	    -webkit-font-smoothing: antialiased;
	    color: #393d40;
	    font-weight: 500;
	    text-transform: capitalize;
	    margin-bottom: 5px;
	    margin-top: 0px;
	}
	
	.v1-vital-difference-info p {
	    font-family: 'avenir';
	    font-size: 16px;
	    line-height: 18px;
	    -webkit-font-smoothing: antialiased;
	    color: #626677;
	    font-weight: 400;
	    margin: 0px;
	    padding: 0;
	}
	
	@media only screen and (max-width: 680px) {
	
		.v1-vital-difference {
		    display: flex;
		    justify-content: center;
		    padding: 50px;
		}
		
	}
	
	@media only screen and (max-width: 500px) {
		.v1-vital-difference {
		    display: flex;
		    justify-content: center;
		    padding: 50px;
		    padding-top: 240px;
		    padding-bottom: 0px;
		}
		
		.v1-vital-difference-info {
		    background: #fffffffa;
		}
	
	}
	
	
	

</style>

<style>
	
	

.v1-quiz-tease {
    background: #01af9a24;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.v1-quiz-tease h2 {
    font-family: 'Avenir';
    font-size: 44px;
    line-height: 46px;
    color: #343837;
    text-transform: capitalize;
    margin: 0px;
    margin-bottom: 20px;
}

.v1-quiz-tease p {
    font-family: 'Avenir';
    font-size: 22px;
    line-height: 26px;
    color: #656565;
  margin-bottom:35px;
}
  
  .slider-gallery .gallery-cell .product-details {
    line-height: 1.2;
    letter-spacing: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

	@media only screen and (max-width: 800px) {
		
      .mobile_nav-fixed--true #pagecontent, .mobile_nav-fixed--false #pagecontent {
    padding-bottom: 0px !important;
}
      

		
		.v1-landing-hero-inner {
		    display: flex;
		    flex-direction: column;
		    justify-content: center;
		    align-items: center;
		}
      
      .lp-buy-prod {
    font-size: 12px !important;
}
		
		
	}
	
		
	</style>

<script>
  
  $(document).ready(function() {
    
    setTimeout(function() {
      $('[id^="subscription-widget-select"]').val( {{ settings.default_subscription_frequency }} ).change();

    }, 1000);

});
  
</script>