<a name="pagecontent" id="pagecontent"></a>

<div class="top-navigation" role="navigation">
  <ul class="secondary-menu">
    <li>
      <a href="/pages/account-landing-page/" class="is-active">Home</a>
    </li>
    <li>
      <a href="/pages/rewards-1/">Rewards</a>
    </li>
    <li>
      <a href="/account">Account</a>
    </li>
    <li>
      <a href="/tools/recurring/login/">Subscriptions</a>
    </li>
    <li>
      {{ 'layout.customer.log_out' | t | customer_logout_link }}
    </li>
  </ul>
</div>

{% section 'account-landing-page-template' %}
