{% comment %}
  The contents of the page.rtd_promo.liquid template can be found in /sections/rtd_promo.liquid
{% endcomment %}
  
</div>
<div class="container">
  <h4 class="promo-over-text"
    style="text-align: center;
    letter-spacing: 0 !important;
    font-size: 36px;
    color: #4c4b4b;">We're so glad you're here! Our Drink Vital promotion is now over, however, we are thrilled to share that Collagen Water has officially launched - and with 2 additional flavors. Take a look below to shop now. Sip, sip, hooray!</h4>
</div>
<style>
  @media only screen and (max-width: 800px) {
    .feed-what-moves-you-container {
        margin-top: 0px !important;
    }
    .promo-over-text {
      margin-top: 120px;
    }
  }

</style>
{% section 'rtd_promo' %}
