<a name="pagecontent" id="pagecontent"></a>
</div>

{% comment %}
  The contents of the product.hydration-lp.liquid template can be found in /sections/hydration-page-contents.liquid
{% endcomment %}

{% section 'hydration-page-contents' %}
