<a name="pagecontent" id="pagecontent"></a>
</div>

{% section 'v3-klaviyo-forms' %}

<style>
  
  .page-klaviyo-forms {background:#f9f9f9;}
  
  #full-top-navigation, #shopify-section-footer {
    display: none !important;
    visibility:hidden !important;
  }
  
  .v3-form-landing-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    background: #ffffff;
    border: 1px solid #efefef;
    border-radius: 4px;
    padding: 20px;
    box-shadow:  9px 9px 18px #efefef, 
             -9px -9px 18px #ffffff;
}
  
  
.v3-form-landing-container h1 {
    text-transform: capitalize;
    color: #5a5b5a;
    font-size: 3em;
    line-height: 1em;
    margin-left: 10px;
    margin-top: 5px;
}
  
 .v3-form-landing-container p {
    text-align: left !important;
    margin-left: 10px;
}
  
  .v3-form-landing-container label {
    text-align: left;
    font-family: 'avenir' !important;
    color: rgba(57,61,64,0.8) !important;
}
  
  .vp-logo {
    width: 80px;
    height: 80px;
  }
  
 .v3-form-landing-container-highlight {
    height: 220px;
    width: 100%;
    background: #efefef;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ececec;
}
  
 .v3-form-landing-container button {
    width: 100%;
    min-width: 200px;
    background-color: #12abe4 !important;
    border-radius: 4px !important;
    text-align: center !important;
    padding: 10px !important;
    font-family: 'avenir' !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
    letter-spacing: 1px !important;
    color: white !important;
    font-weight: bold;
    font-size: 16px !important;
    border: 0;
    line-height: 22px !important;
}
  
  
  .klaviyo-form p, .klaviyo-form span  {
    
    font-family: 'avenir';
    font-weight: normal;
    text-transform: none;
    color: #333333;
  
  }
</style>