<a name="pagecontent" id="pagecontent"></a>

<form id="email_signup" class="klaviyo_styling klaviyo_gdpr_embed_WDZDPx" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
    <input type="hidden" name="g" value="WDZDPx">
    <input type="hidden" name="$fields" value="$consent,$last_name">
    <input type="hidden" name="$list_fields" value="$consent">
    <div class="klaviyo_field_group">
      <label for="k_id_email">Newsletter Sign Up</label>
      <input class="" type="email" value="" name="email" id="k_id_email" placeholder="Your email" />
      <input type="text" class="form-control" id="first_name" name="$first_name" value="" placeholder="First Name" />
      <input type="text" class="form-control" id="last_name" name="$last_name" value="" placeholder="Last Name" />
      <div class="klaviyo_field_group klaviyo_form_actions">
        <div class="klaviyo_helptext"> How would you like to hear from us? (please select at least one option) </div>
        <input type="checkbox" name="$consent" id="consent-email" value="email">
        <label for="consent-email">Email</label><br>
        <input type="checkbox" name="$consent" id="consent-web" value="web">
        <label for="consent-web">Online advertisements</label>
        <div class="klaviyo_helptext klaviyo_gdpr_text"> We use email and targeted online advertising to send you product and services updates, promotional offers and other marketing communications based on the information we collect about you, such as
          your email address, general location, and purchase and website browsing history. <br>
          <br>
          We process your personal data as stated in our <a href="https://vitalproteins.com/pages/privacy-policy">Privacy Policy</a>. You may withdraw your consent or manage your preferences at any time by clicking the unsubscribe link at the bottom of any of our marketing emails, or
          by emailing us at {insert customer support email address}.</div>
      </div>
    </div>
    <div class="klaviyo_messages">
      <div class="success_message" style="display:none;"></div>
      <div class="error_message" style="display:none;"></div>
    </div>
    <div class="klaviyo_form_actions">
      <button type="submit" class="klaviyo_submit_button">Subscribe</button> </div>
  </form>
  <style type="text/css">
    .klaviyo_styling.klaviyo_gdpr_embed_WDZDPx,
    .klaviyo_condensed_styling.klaviyo_gdpr_embed_WDZDPx {
      font-family: "Helvetica Neue", Arial;
    }

    .klaviyo_styling.klaviyo_gdpr_embed_WDZDPx .klaviyo_helptext,
    .klaviyo_condensed_styling.klaviyo_gdpr_embed_WDZDPx .klaviyo_helptext {
      font-family: "Helvetica Neue", Arial;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .klaviyo_styling.klaviyo_gdpr_embed_WDZDPx .klaviyo_gdpr_text,
    .klaviyo_condensed_styling.klaviyo_gdpr_embed_WDZDPx .klaviyo_gdpr_text {
      font-size: 14px;
      line-height: 1.3;
    }

    .klaviyo_styling.klaviyo_gdpr_embed_WDZDPx label,
    .klaviyo_condensed_styling.klaviyo_gdpr_embed_WDZDPx label {
      color: #222;
    }

    .klaviyo_styling .klaviyo_field_group .klaviyo_form_actions {
      text-align: left;
    }

    .klaviyo_styling.klaviyo_gdpr_embed_WDZDPx input[type=checkbox]+label,
    .klaviyo_condensed_styling.klaviyo_gdpr_embed_WDZDPx input[type=checkbox]+label {
      display: inline;
      font-weight: normal;
      padding-left: 5px;
    }

    .klaviyo_styling.klaviyo_gdpr_embed_WDZDPx input[type=text],
    .klaviyo_styling.klaviyo_gdpr_embed_WDZDPx input[type=email],
    .klaviyo_condensed_styling.klaviyo_gdpr_embed_WDZDPx input[type=text],
    .klaviyo_condensed_styling.klaviyo_gdpr_embed_WDZDPx input[type=email] {
      border-radius: 2px;
    }

    .klaviyo_styling.klaviyo_gdpr_embed_WDZDPx .klaviyo_submit_button, .klaviyo_condensed_styling.klaviyo_gdpr_embed_WDZDPx .klaviyo_submit_button {
    background-color: #0064cd;
    border-radius: 2px;
    height: 40px;
    width: 224px;
    border-radius: 2.86px;
    background-color: #13aae3;
    color: #FFFFFF !important;
    font-family: Avenir;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 0.88px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

    .klaviyo_styling.klaviyo_gdpr_embed_WDZDPx .klaviyo_submit_button:hover,
    .klaviyo_condensed_styling.klaviyo_gdpr_embed_WDZDPx .klaviyo_submit_button:hover {
      background-color: #0064cd;
    }
    
    .klaviyo_condensed_styling, .klaviyo_styling {
    margin-bottom: 18px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    max-width: 600px;
    margin: 0 auto;
    font-family: 'avenir', arial, sans-serif !important;
    margin-top: 32px;
    margin-bottom: 32px;
}
    
    
    .kl-private-reset-css-Xuajs1 input[type="email"] {
    font-family: 'avenir',"Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif !important;
    font-size: 15px !important;
    border: none !important;
    color: #109ad6 !important;
    background-color: #fff !important;
    box-sizing: border-box !important;
    height: 32px !important;
    padding: 0px 0.4em !important;
    display: inline-block !important;
    margin: 0 !important;
    width: 100% !important;
    vertical-align: top !important;
    border-radius: 3px !important;
    text-align: center !important;
    font-weight: 600 !important;
    min-height: 40px !important;
    max-width: 285px;
}
    
        .kl-private-reset-css-Xuajs1 input[type="email"]::placeholder {
    color: #109ad67d !important;
}
    
.kl-private-reset-css-Xuajs1 button {
    font-size: 13px !important;
    border: none;
    text-transform: capitalize;
    color: white;
    background-color: #109ad6;
    box-sizing: border-box;
    height: 32px;
    line-height: 32px !important;
    padding: 0 18px !important;
    display: inline-block;
    margin: 0;
    transition: all 0.23s ease-in-out 0s;
    border-radius: 3px !important;
    min-height: 40px;
    max-width: 180px;
    min-width: 180px;
}
    .FormComponent__StyledFormComponentWrapper-e0xun6-0 {max-width:285px;}
    
    
  </style>
  <script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
  <script type="text/javascript">
    KlaviyoSubscribe.attachToForms('#email_signup', {
      hide_form_on_success: true,
      extra_properties: {
        $source: 'FooterSignup',
        $method_type: "Klaviyo Form",
        $method_id: 'embed',
        $consent_version: 'Embed default text'
      }
    });
  </script>

<div class="klaviyo-form-YwQa4h"></div>