<a name="pagecontent" id="pagecontent"></a>

	<style>
	.gvHero {
		width:100%;
		min-height:420px;
		background:#ececec;
		display:flex;
		justify-content:center;
		align-items: center;
	}

	.gvTimeline {
		width:100%;
		max-width:600px;
		margin: 0 auto;
		text-align:center;
		display:flex;
		flex-direction:column;
		align-items:center;
		margin-top:16px;
		margin-bottom:50px;
	}

	.gvLine {
		height:50px;
		width:1px;
		border-right:1px solid #979797;
	}

	.gvDate {
		width:250px;
		height:50px;
		display:flex;
		justify-content:center;
		align-items:center;
		border: 1px solid #979797;
		font-family:'avenir';
		margin-top:8px;
		margin-bottom:16px;
		font-size: 28px;
		color: #02ABE3;
		letter-spacing: 0;
		text-align: center;
	}

	.gvSubHead {
		font-family: 'avenir';
		font-size: 20px;
		color: #4B4C4F;
		letter-spacing: 0;
		text-align: center;
		font-weight:500;
		margin-bottom:0px;
	}

	.gvSubText {
		font-family: 'avenir';
		font-size: 12px;
		color: #393D40;
		letter-spacing: 0;
		text-align: center;
		line-height: 16px;
		padding-left:16px;
		padding-right:16px;
	}

	.gvLink {
		text-decoration:underline;
		text-decoration-color: #02abe3;
		font-weight:bold;
		margin-bottom:8px;
	}

	.gvMainP {
		font-family: 'avenir';
		font-size: 16px;
		color: #393D40;
		letter-spacing: 0;
		text-align: center;
		line-height: 22px;
		padding-left:16px;
		padding-right:16px;
	}

	.gvSpotlight {
		width:420px;
		max-width: 90%;
		padding:16px;
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		text-align:center;
		background:#ffffffd6;
		padding-left:50px;
		padding-right:50px;
		margin-top:50px;
		margin-bottom:50px;
	}

	.gvQuotes {
		font-family: 'avenir';
		font-size: 12px;
		color: #393D40;
		letter-spacing: 0;
		text-align: center;
		line-height: 16px;
	}
      
      .gvCTA {
      width:100%;
       padding:16px;
        background:#ECE5DD;
        text-align:center;
        padding-bottom:32px;
      }
      
      .page-give-vital h2, .page-give-vital h3 {text-transform:capitalize !important;}
      
  .page-give-vital h3 {  margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 16px;
    letter-spacing:-.5px !important;
      }
      
      
      .page-give-vital .container {
    max-width: 100%;
}
      
   .page-give-vital #pagecontent {
    padding-bottom: 0px !important;
    padding-top: 76px !important;
    display: block;
}

	@media only screen and (max-width: 600px) {

	.gvMainHero {height:200px;min-height:200px;}
	
	}

.page-give-vital .footer .container {
    max-width: 1400px !important;
    padding: 20px;
}
     
      
.gvCTA-btn {
    width: 100%;
    max-width: 300px;
    height: 40px;
    border-radius: 4px;
    border: 0px;
    background: #355c7E;
    color: #ffffff;
    font-family: 'avenir';
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    transition: 200ms ease all;
    cursor: pointer;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  text-transform: capitalize !important;
}
      
      .gvCTA-btn:hover {
    color: #ffffff !important;
   opacity:.8;
}

	</style>
	
	
	
  <div class="gvHero gvMainHero" style="background:url('//cdn.shopify.com/s/files/1/2074/9385/files/cans.jpg?v=1606747255'); background-position:center center; background-size:cover;">
  	<img src="//cdn.shopify.com/s/files/1/2074/9385/files/givevital_5e2ed1ef-2d2e-41fe-bc80-5840ed0afcb7.png?v=1606747255" style="width:80%; max-width:800px;">
  </div>
  <div class="gvCTA">
    <h3 class="gvSubHead" style="font-weight:bold;color:#393D40;">Celebrate those who give the most. Give Vital.</h3>
    <p>Nominate an essential worker for a gifted shipment of Vital Proteins collagen. No shipping fees, no fine print, just a way to show our gratitude.</p>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfeKxhs_31K7ii4MBNtepNz0obuD4v4Rusx0PF6F7M5EX9dGw/viewform?usp=sf_link" class="gvCTA-btn">Nominate Here</a>
</div>
    
  <div class="gvTimeline">
  	<p class="gvMainP" style="margin-top:32px;margin-bottom:32px;">As part of our larger commitment to allow others to live fuller, more vibrant lives, Vital Proteins® is partnering up with communities, people and places to give back in the best way we know how — with collagen!</p>
	<h2>Our Commitment, In Action</h2>
	<p class="gvMainP">A Timeline Of Events</p>
	<div class="gvLine"></div>
	<div class="gvDate">November 2017</div>
	<img src="//cdn.shopify.com/s/files/1/2074/9385/files/primo.png?v=1606747254" style="width:auto; max-width:200px;">
	<h3 class="gvSubHead">Giving Back During The Holidays</h3>
	<p class="gvSubText">The Blue Box Project initiative encourages our VP family to refill the boxes that originally contained their orders with essentials like shampoo, toothpaste and lotion — we supply the pre-paid label! — for The Primo Center for Women and Children. The Chicago-based organization provides housing, mental health services, early childhood services and violence-prevention programs for at-risk youth.</p>
	<div class="gvLine"></div>
	<div class="gvDate">January 2019</div>
	<img src="//cdn.shopify.com/s/files/1/2074/9385/files/heroes.png?v=1606747254" style="width:auto; max-width:200px;">
	<h3 class="gvSubHead">Honoring Heroes</h3>
	<p class="gvSubText">We offer 15% off codes to first-responders, teachers and members of the military.</p>
	<a href="" class="gvSubText gvLink">Click Here To Get Started</a>
	<div class="gvLine"></div>
	<div class="gvDate">April 2020</div>
	<img src="//cdn.shopify.com/s/files/1/2074/9385/files/sipforward.png?v=1606747254" style="width:auto; max-width:200px;">
	<h3 class="gvSubHead">Launching Sip It Forward</h3>
	<p class="gvSubText">We showed our support to healthcare professionals at the frontlines of the COVID-19 crisis with complimentary shipments of Collagen Water™. To date, we’ve donated over 220,000 bottles.</p>
	<div class="gvLine"></div>
	<div class="gvDate">May 2020</div>
	<img src="//cdn.shopify.com/s/files/1/2074/9385/files/buddies.png?v=1606747254" style="width:auto; max-width:115px;">
	<h3 class="gvSubHead">Partnering With Best Buddies</h3>
	<p class="gvSubText">From May to June, we gifted 2 Lavender Lemon Beauty Collagen™ canisters to those who made $25+ donations to Best Buddies, an organization that’s dedicated to enhancing the lives of people with intellectual and developmental disabilities.</p>
  </div>
  <div class="gvHero" style="background:url('//cdn.shopify.com/s/files/1/2074/9385/files/water.png?v=1606747257');background-position: top right;background-repeat:no-repeat;background-size:cover;">
  	<div class="gvSpotlight">
  		<h2>Spotlight On: Sip It Forward</h2>
		<p class="gvMainP">Almost <strong>2,000</strong> Nominations</p>
		<p class="gvMainP" style="padding-left:0px;padding-right:0px;"><strong>220,000+</strong> Collagen Water™ Donations</p>
		<p class="gvQuotes">“Your products are so good and they made a lot of Chicago nurses smile this week!”
Kimberly A., RN
<br><br>
“The delivery made everyone tremendously excited. Much appreciated from all of us.”
Alex H., MD
<br><br>
“I am sure you have heard it already, but your generosity and support means the world to me and all of us working on the frontlines.”
Caitlyn L., RN   
</p>
		
  	</div>
  </div>


{% section 'HP2020-Blogs' %}
