{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}
<div>
  <meta content="0; url=http://vitalproteins.com/" http-equiv="refresh" />
</div>
